body{
    background-image: url(images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
}
#blur{
    background: linear-gradient(135deg,rgba(225,225,225,0.1),rgba(225,225,225,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#wll{
    height: 90vh;
    width: 100vw;
}